@font-face {
    font-family: 'Montserrat Regular';
    src: url('fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('fonts/Montserrat-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url('fonts/Montserrat-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Regular', serif;
}
a {
    text-decoration: none;
}